html {
  background-color: $backgroundNAccent;
}
.App {
  min-height: 785px;
  position: relative;
  width: 100%;
  z-index: 0;
  display: grid;
  grid-gap: 25px;
  grid-template-rows: 15% 20% 60%;
  grid-template-columns: 45% 55%;
  grid-template-areas: 
    "Header Header"
    "Prompts Prompts"
    "PlayerCommands DisplayField";

    h1, h2, h3, h4 {
      font-family: Radley;
    }

    header {
      grid-area: Header;
      background-color: $lightComponentBG;
      border-bottom: $lightComponentBorder;
      box-shadow: $darkShadow;
      box-sizing: border-box;
      padding: 30px;
      position: relative;
        .sky {
          @include sizing(100%, 100%);
          @include absPosition(0, null, null, 0, 1);
        }
        .sky::after {
          @include absPosition(0,0,0,0,null);
          content: "";
          background: url('../Resources/skyBanner.jpg');
          background-position: center;
          background-size: 100% 100%;
          opacity: 0.8;
        }
        nav {
          position: relative;
          width: 100px;
          z-index: 2;
        }
    }
    .DisplayField {
      grid-area: DisplayField;
      @include sizing(100%, 90%);
      @include displayFlex(center, center, null, null);
      background-color: green;
      border-radius: 40px;
      border: $lightComponentBorder;
      box-shadow: $darkShadow;
      box-sizing: border-box;
      margin: auto;
      padding: 15px;
      position: relative;

        .grass {
          @include sizing(100%, 100%);
          left: 0;
          position: absolute;
          top: 0;
          z-index: 1;
        }
        .grass::after {
          @include absPosition(0,0,0,0, null);
          content: "";
          border-radius: 40px;
          background: url('../Resources/grassField.jpg');
          background-position: center;
          background-size: cover;
          opacity: 0.2;
        }
    }
    .PlayerCommands {
      grid-area: PlayerCommands;
      @include sizing(100%, 90%);
      @include displayFlex(space-around, null, null, column);
      background-color: $lightComponentBG;
      border-radius: 40px;
      border: $lightComponentBorder;
      box-shadow: $darkShadow;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: auto;
      overflow-y: auto;
      padding: 30px;
      position: relative;
    }
    .Prompts {
      grid-area: Prompts;
      box-sizing: border-box;
      border: $lightComponentBorder;
      box-shadow: $darkShadow;
      background-color: $lightComponentBG;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      height: 100%;
      min-width: 60%;
      margin: auto;
    }
}