.BurgerMenu {
  @include sizing(200px, 140px);
  background: $lightBG;
  border-radius: 10px;
  box-shadow: $darkShadow;
  line-height: 35px;
  position: absolute;

    ul {
      @include displayFlex(null, null, center, column);
      list-style: none;
      padding: 0;
      width: 140px;
    }
    li {
      font-family: Radley;
      text-align: center;
      width: 140px;

      a {
        color: black;
        text-decoration: none;
        width: 100%;

        &:hover {
          color: $lightFontColor;
        }
      }

      &:hover {
        background-color: $backgroundNAccent;
        color: $lightFontColor;
        text-shadow: $darkTextShadow;
        width: 100%;
      }
    }
}