.BurgerMenu {
  position: absolute;
  line-height: 35px;
  border-radius: 10px;
  background: white;
  width: 140px;
  height: 200px;
  box-shadow: 1px 2px 4px 0px black;

    ul {
      list-style: none;
      width: 140px;
      padding: 0;
      display: flex;
      // justify-content: center;
      align-content: center;
      flex-direction: column;
    }
    li {
      font-family: Radley;
      width: 140px;
      text-align: center;

      a {
        width: 100%;
        text-decoration: none;
        color: black;

        &:hover {
          color: white;
        }
      }

      &:hover {
        width: 100%;
        background-color: red;
        color: white;
        text-shadow: black 1px 1px 1px;
      }
    }
}