.field-container {
  @include sizing(100%, 100%);
  box-sizing: border-box;
  z-index: 2;

    p {
      @include absPosition(null, 15%, null, null, null);
      color: $lightFontColor;
      font-family: Radley;
      font-size: 24px;
    }
}

.fieldSquare {
  position: relative;
  z-index: 3;
}
// * -----Road-------- * //
// ===================== //
.road1--container {
  @include absPosition(0,null,null,20px,4);
  @include displayFlex(flex-end, null, flex-end, null);
  @include sizing(100%, 50%);
  padding: 15px 0px 15px 0px;
}
.road2--container {
  @include absPosition(47%, null, null, 0, 4);
  @include sizing(50%, 96%);
  display: flex;
  padding: 0 15px;
}
.road1 {
  @include sizing(95%, 50px);
  background: url('../Resources/town/road.png');
  background-repeat: repeat-y;
}
.road2 {
  background: url('../Resources/town/road2.png');
  background-repeat: repeat-x;
  width: 100%;
}
// * -----Trees-------- * //
// ===================== //
.tree--container {
  @include displayFlex(space-around, null, null, column);
  @include sizing(100%, 100%);
  padding-left:15px;
  z-index: 5;
}
.tree__finished--container {
  @include displayFlex(space-around, null, null, column);
}

.tree1 {
  @include itemProp(white, '../Resources/town/tree-2.png');
}
.tree2 {
  @include itemProp(white, '../Resources/town/tree-3.png');
}
.tree3 {
  @include itemProp(white, '../Resources/town/tree-4.png');
}
// * -----Houses------- * //
// ===================== //
.house--container {
  @include absPosition(0,null,null,0,6);
  @include displayFlex(center,center,null,null);
  @include sizing(100%, 100%);
}
.house__finished--container {
  @include displayFlex(center,center,null,null);
}
.house {
  @include itemProp(yellow, '../Resources/town/house-1.png');
  background-size: cover;
}