header {
  nav {
    left: 10%;
    top: 10%;
  }

  button {
    @include sizing(30px, 80px);
    border-radius: 10px;
    background-color: skyblue;
    border: $lightButtonBorder;
    color: $lightFontColor;
    text-shadow: $darkButtonTextShadow;
    letter-spacing: .25em;

    &:hover {
      background-color: $backgroundNAccent;
      cursor: pointer;
      color: $lightFontColor;
      box-shadow: $darkShadow;
    }
  }
}
.logo {
  @include absPosition(null,null,null,40%,3);
  @include sizing(100px, 250px);

  &::after {
    @include absPosition(null,0,null,0,null);
    content: "";
    background: url('../Resources/MrRogers-logo.png');
    background-size: 100% 100%;
    background-position: center;
    height: 70%;
    opacity: 0.8;
  }
}