.PlayerCommands {
    h4 {
        color: $lightFontColor;
        font-size: 22px;
        margin: 0;
        text-shadow: $darkTextShadow;
      }
}

.gridInput, .flexInput {

    input {
      border-radius: 30px;
      margin: 10px;
      padding-left: 5%;
    }
    span {
      color: $lightFontColor;
      font-size: 25px;
      text-shadow: $darkTextShadow;
    }
}

#addInput {
  @include sizing(30px, 40px);
  background-color: $lightBG;
  border-radius: 10px;
  border: 2px $buttonAccent ridge;
  color: $buttonAccent;
  letter-spacing: .25em;
  margin: 10px;
  position: relative;
  text-shadow: $lightButtonTxtShadow;

  &:hover {
    background-color: $backgroundNAccent;
    border: $lightButtonBorder;
    color: $lightFontColor;
    cursor: pointer;
  }
}