.Prompts {
  flex-direction: column;
  color: white;
  text-shadow: 1px 1px 1px black;

    article {
      position: relative;
      top: -20%;
      text-align: center;
      height: 100%;

        h3 {
          font-size: 26px;
          margin: 10px 0;
        }

        p {
          font-size: 20px;
          margin: 0;
        }
    }

    button {
      position: relative;
      width: 80px;
      height: 30px;
      border-radius: 10px;
      background-color: white;
      border: 2px red ridge;
      color: red;
      text-shadow: 1px 1px 1px skyblue;
      letter-spacing: .25em;
    }
}