.Prompts {
  color: $lightFontColor;
  flex-direction: column;
  text-shadow: $darkTextShadow;

    article {
      height: 100%;
      position: relative;
      text-align: center;
      top: -20%;

        h3 {
          font-size: 26px;
          margin: 10px 0;
        }

        p {
          font-size: 20px;
          margin: 0;
        }
    }

    button {
      @include sizing(30px, 80px);
      background-color: $lightBG;
      border-radius: 10px;
      border: 2px $buttonAccent ridge;
      color: $buttonAccent;
      letter-spacing: .25em;
      position: relative;
      text-shadow: $lightButtonTxtShadow;
      
        &:hover {
        background-color: $backgroundNAccent;
        border: $lightButtonBorder;
        color: $lightFontColor;
        cursor: pointer;
      }
    }
}